@use './variables' as *;
@use './mixins' as *;
@use './functions' as *;

@include themify($themes) {
	font-family: themed(font);
	background-color: themed(background);
	color: themed(textPrimary);
}

.app {
	min-height: 100vh;
}

.page-wrapper {
	margin: 0 auto;
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@include breakpoint-md {
		max-width: 689px;
		gap: 2rem;
		padding: 50px;
	}

	@include breakpoint-xl {
		max-width: 737px;
	}
}
